image sdcard.img {
    hdimage {
    }

    partition boot {
        partition-type = 0xC
        bootable = "true"
        image = "boot.vfat"
    }

    partition rootfs {
        partition-type = 0x83
        image = "rootfs.ext2"
    }

    # 🛠 Your writeable user partition for Perl scripts & Music
    partition user-data {
        partition-type = 0x83
        size = 2G # Adjust this based on your development SD card size
    }
}
