

[Unit]
Description=PIDAP - Pi Digital Audio Player
After=sound.target local-fs.target pidap-playlist.service pidap-menu.service multi-user.target getty.target
Wants=pidap-playlist.service
Wants=pidap-menu.service
RequiresMountsFor=/usr/local/Music

[Service]
Type=simple
WorkingDirectory=/home/rodney/album_streamer
ExecStart=/usr/bin/perl /home/rodney/album_streamer/pidap
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="PIDAP_DEBUG=1"
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
